.root {
    -fx-background-color:#1565C0;
}
#fancytext {
       -fx-font-size: 50pt;
       -fx-font-family: "Segoe UI Light";
       -fx-fill: white;
}
#screen-text {
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 14pt;
    -fx-fill: black;
}
#bodytext {
    -fx-fill: white;
}
.label {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI";
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}
.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

#label-bright {
    -fx-font-size: 16pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.table-view {
    -fx-base: #1d1d1d;
    -fx-control-inner-background: #1d1d1d;
    -fx-background-color: #1d1d1d;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-border-color:
        transparent
        transparent
        derive(-fx-base, 80%)
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.split-pane:horizontal > * > .split-pane-divider {
    -fx-border-color: transparent #1d1d1d transparent #1d1d1d;
    -fx-background-color: transparent, derive(#1d1d1d,20%);
}

.split-pane {
    -fx-padding: 1 0 0 0;
}

.menu-bar {
    -fx-background-color: derive(#1d1d1d,20%);
    -fx-selection-bar: derive(-fx-background,-7%);
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
}

.button {
    -fx-padding: 5 18 5 18;
    -fx-border-color: #85b1ea;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #3d3d3d;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 14pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}
#waiting-button {
    -fx-border-color: #ffffff;
    -fx-background-color: #d84141;
}

.button:hover {
    -fx-background-color: #4c4b4b;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: #EEEEEE;
  -fx-text-fill: #1d1d1d;
}

.button:focused {
    -fx-border-color: #8ebdf9, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color,30%);
}

.radio-button .radio {
    -fx-selected-color: #616161;
    -fx-unselected-color: #EEEEEE;
    -fx-border-width: 0px;
    -fx-background-color:  #EEEEEE;
    -fx-background-image: null;
    -fx-padding: 4px;
    -fx-background-insets: 0;
    -fx-mark-color: #f6b239 ;
    -fx-background-radius: 20px;
    -fx-padding: 4px;
}

.radio-button .dot {
    -fx-background-radius: 12px;
    -fx-padding: 8px;
    -fx-background-insets: 0;
}

.toggle-button {
    -fx-background-insets: 0;
    -fx-background-color: #EEEEEE;
    -fx-border-radius: 0px;
    -fx-border-color: #c4c4c4;
    -fx-border-width: 3;
    -fx-background-radius: 0px;
}
#start-toggle-button:pressed {
    -fx-background-color: #009d60;
    -fx-border-radius: 0px;
    -fx-border-color: #c4c4c4;
    -fx-border-width: 2;
    -fx-background-radius: 0px;
}
#finish-toggle-button:pressed {
    -fx-background-color: #df3f3b;
    -fx-border-radius: 0px;
    -fx-border-color: #c4c4c4;
    -fx-border-width: 2;
    -fx-background-radius: 0px;
}
#right-arrow {
    -fx-shape: "M 0,0 L 1,.5 0,1  Z"
}
#down-arrow {
    -fx-shape: "M 0,0 L 1,0 .5,1  Z";
}
#up-arrow {
    -fx-shape: "M 0,1 L 1,1 .5,0 Z";
}
#left-arrow {
    -fx-shape: "M 0,1 L 1,2  1,0  Z"
}
#display {
    -fx-background-color: #3c7cc4;
    -fx-fill: #3c7cc4;
}
#printer-wider {
    -fx-fill: #7faae2;
}
#printer-narrow {
    -fx-fill: #f2ead7;
}
#printer-shadow {
    -fx-fill: #5e7da5;
}

.scroll-bar:horizontal .thumb, .scroll-bar:vertical .thumb {
    -fx-background-color : #989898;
    -fx-background-insets: 1, 0, 0;
    -fx-background-radius: 0em;
}
.scroll-bar:horizontal:hover .track , .scroll-bar:horizontal:pressed .track , .scroll-bar:vertical:hover .track, .scroll-bar:vertical:pressed .track {
    -fx-background-color: #f2ead7 ;
    -fx-border-color: #f2ead7;
    -fx-background-radius: 0;
    -fx-border-radius:0;
    -fx-border-size:0;
    -fx-background-radius: 0em;
}
.scroll-bar .thumb:hover, .scroll-bar .thumb:pressed{
   -fx-background-color: #989898;;
}

/* The main scrollbar **track** CSS class  */
.scroll-bar:horizontal .track, .scroll-bar:vertical .track{
	-fx-background-color: #f2ead7 ;
	-fx-border-color: #f2ead7;
	-fx-background-radius: 0;
	-fx-border-radius:0;
	-fx-border-size:0;
}

/* The increment and decrement button CSS class of scrollbar */
.scroll-bar:horizontal .increment-button , .scroll-bar:horizontal .decrement-button {
    -fx-background-color:transparent;
	-fx-background-radius: 0;
	-fx-padding:0 0 10 0;
}

/* The increment and decrement button CSS class of scrollbar */
.scroll-bar:vertical .increment-button , .scroll-bar:vertical .decrement-button {
    -fx-background-color:transparent;
	-fx-background-radius: 0;
	-fx-padding:0 10 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
	-fx-shape: " ";
	-fx-padding:0;
}
/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.scroll-bar:horizontal .thumb, .scroll-bar:vertical .thumb {
    -fx-background-color:#c4c4c4;
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 0;
}
#usb-outer {
    -fx-fill: #5b5b5b ;
}
#usb-inner {
    -fx-fill: #a0a0a0;
}
